version: '3'
services:
  web:
    image: nginx:latest
    ports:
      - '9000:80'
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/nginx.conf
      - ./root:/root
  php:
    build:
      context: .
      dockerfile: PHP.Dockerfile
    volumes:
      - ./root:/root
  mysql:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: 'secret'
      MYSQL_USER: 'tkj2567'
      MYSQL_PASSWORD: 'password'
      MYSQL_DATABASE: 'tkj2567'
    volumes:
      - mysqldata:/var/lib/mysql
    ports:
      - 3306:3306
volumes:
  mysqldata: {}
