version: '3'
services:
  web:
    image: nginx:latest
    ports:
      - '9000:80'
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/nginx.conf
      - ./app:/app
  php:
    build:
      context: .
      dockerfile: PHP.Dockerfile
    volumes:
      - ./app:/app
  mysql:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: 'password'
      MYSQL_USER: 'statusapp'
      MYSQL_PASSWORD: 'password'
      MYSQL_DATABASE: 'tkj2567'
    volumes:
      - mysqldata:/var/lib/mysql
    ports:
      - 3306:3306
  phpmyadmin:
    image: phpmyadmin
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1
volumes:
  mysqldata: {}
