.container {
  padding-inline: var(--container-padding);
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  width: max-content;
  border-radius: 200vw;
  text-decoration: none;
  cursor: pointer;
  transition: 150ms;
}

.btn.btn-primary {
  background-color: var(--clr-accent);
  color: var(--clr-black);
  font-weight: 700;
}

.btn.btn-primary:hover {
  background-color: var(--clr-accent-light);
}

.btn.btn-outline {
  border: 2px solid var(--clr-accent);
  color: var(--clr-accent);
  font-weight: 500;
}

.btn.btn-outline:hover {
  background-color: var(--clr-accent-light);
  color: var(--clr-black);
}

.btn.btn-block {
  width: unset;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  width: max-content;
  border: thin solid var(--clr-grey);
  border-radius: 10px;
}

.modal {
  display: grid;
  place-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  --transition-time: 200ms;
  opacity: 1;
  transition: opacity var(--transition-time);
}

.modal.hidden {
  display: none;
}

.modal.content-hidden {
  opacity: 0;
  transition: opacity var(--transition-time);
}

.modal .modal-content {
  padding: 2em;
  background-color: var(--clr-dark);
  border-radius: 20px;

  transform: translateY(0);
  transition: transform var(--transition-time);
}

.modal.content-hidden .modal-content {
  transform: translateY(-100px);
  transition: transform var(--transition-time);
}

.form-field {
  margin-bottom: 1em;
}

.form-field label {
  display: block;
}

.textinput {
  padding: 0.5em 0.7em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.03);
  border: thin solid var(--clr-grey);
  border-radius: 5px;
  color: inherit;
  font-size: 0.9rem;
}

.textinput:focus {
  border-color: var(--clr-white);
  outline: none;
}

.radio-group .radio-item label,
.checkbox-group .checkbox-item label {
  display: inline;
}
